<div class="level-up">
  <div class="number-of-levels">Number of Levels</div>
  <input
    type="number"
    [min]="0"
    [(ngModel)]="levelsToUp"
    (ngModelChange)="calculateTitanCost(levelsToUp)"
  />
  <div class="boxed">Total Cost: {{ totalCost }}</div>
</div>

<div>
  <button (click)="exportTitanList()">Export Data</button>
  <button (click)="importTitanList()">Import Data</button>
</div>

<div class="titan-grid">
  <div class="header-row">
    <div class="header">Titan Name</div>
    <div class="header">Current Titan Level</div>
    <div class="header">Number of Times to Level Up</div>
    <div class="header">Cost</div>
  </div>
  <div class="titan-row" *ngFor="let titan of TitanList">
    <div class="titan-info">
      <img
        [src]="titan.image"
        [alt]="titan.name"
        (click)="titan.selected = !titan.selected"
        [style.filter]="titan.selected ? 'none' : 'grayscale(100%)'"
      />
      <span>{{ titan.name }}</span>
    </div>
    <input type="number" [max]="120" [(ngModel)]="titan.currentLevel" />
    <div class="calculated-field">{{ titan.timesToLevelUp }}</div>
    <div class="calculated-field">{{ titan.cost }}</div>
  </div>
</div>
<!-- 
<div class="overview" *ngIf="showOverview">
    <div class="overview-title">Overview</div>
    <div class="overview-content" *ngFor="let item of overviewList">
        <span>{{ item.name }}: {{ item.times }}</span>
    </div>
    <div class="total-cost">Total Cost: {{ totalCost }}</div>
</div> -->
